########################################
##          System Settings           ##
########################################

##
## Firebase (required)
##
## These settings configure how the client communicates with the server.
## The values will be specific to your Firebase server deployment.
##

export TC_FIREBASE_APP_NAME=my-app
export TC_FIREBASE_KEY_PATH=/home/pi/firebasekey.json
export TC_FIREBASE_API_KEY=key
export TC_FIREBASE_DATABASE_URL=https://my-app-name-default-rtdb.firebaseio.com/

## The desired log level
## This should probably be ERROR or INFO during normal usage

export TC_LOGGING_LEVEL=DEBUG
