[Unit]
Description=Theater Commander
After=multi-user.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory={{DIR}}
ExecStart=/usr/bin/make run
Restart=always
RestartSec=5
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
